* {
    font-size: small;
}

.welcome-background {
    background-color: #f0f8ff;
    /* Light background color */
    height: 100%;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50%;
}

.welcome-title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    /* Primary color */
    margin-bottom: 10px;
}

.welcome-subtitle {
    font-size: 14px;
    color: #6c757d;
    /* Secondary color */
}

.quote-section {
    margin: 20px 0;
}

.quote-text {
    font-style:normal;
    color: #555;
    font-weight: bold;
    /* Darker color for quote */
}

.plan-title,
.positives-title,
.gratitude-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #28a745;
    /* Green color for titles */
}

ul {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
}

li {
    margin: 5px 0;
    /* Space between list items */
}