
// ********************* Colors ************************************* //

$primary-color: #212699;
// $dark-primary-color: #2E7DD4;
$dark-primary-color: #469eff;

 
// $dark-primary-color: #4ea2ff;
$gray-color: #808289;
$red-color: red;
$lite-blue-color: #0057FF;
$white-color: white;
$black-color: black;
$green-color: #1F9652;
$orange-color: #EF433E;
$lite-orange-color: #FF8D4F;
$purple-orange-color: #b23ecc;
$aqua-orange-color: #6cbac0;
$yellow-color: #f4a802;

// ********************* Font Weight's ************************************* //

$font-weight:500;

// ********************* Font Size's ************************************* //

$extra-small-font-size:10px;
$small-font-size:12px;
$medium-font-size:13px;
$large-font-size:15px;
$extra-large-font-size:28px;
$double-extra-large-font-size:28px;


